.side_panel{
  background-color: yellow;
  height: 100px;
}


.header{
  font-style: Arial;
  font-weight: bold;
  color: #511281;
}

body{
  background-color: #4ca1a3;
}
ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
width: 10em;
}

li
{
padding-right: 2em;
margin: 2em 0;
}
