body {
  background-color: #4ca1a3;
  margin-left: 8.625rem;;
}

.top-container{
  height: 100px;

}
.top_image{
position: absolute;
margin-left: 50rem;
height: 20rem;
width: 20rem;

}


hr {
  border-color: #511281;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}

h2 {
  color: #21094e;
}

p{
  font-size: 1rem;
}


h3 {
  color: #511281;
}
